@charset "UTF-8";

body {
	background-color: #ccc;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.contentsWrap {
	display: flex;
	flex-grow: 1;
	width: 1440px;
	padding-top: 40px;
	padding-bottom: 100px;
	margin: 0 auto;
	background-color: #fff;
}

/*Footer*/
footer {
	width: 100%;
	height: 200px;
	background-color: #ADEFD1;
}
