@charset "UTF-8";

body {
	background-color: #ccc;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	
}

.contentsWrap {
	flex-grow: 1;
	width: 1440px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0 auto;
	background-color: #fff;
}



footer {
	width: 100%;
	height: 200px;
	background-color: #ADEFD1;
}
.writeTitle {
    font-size: 30px;
    font-weight: bold;
	margin-left: 127px;
	margin-bottom: 30px;
}
.writeHr {
    width: 1190px;
    height: 5px;
    background-color: #EEEEEE;
    margin: 0 auto;
	
}
.categoryLabel {
    margin-left: 127px;
	margin-top: 30px;
}
.inputLabel {
    width: 250px;
    height: 50px;
}
.selectBox {
    width: 250px;
    height: 50px;
}
.textField {
    width: 250px; /* 예시로 넣은 너비 */
    height: 100px; /* 예시로 넣은 높이 */
    font-size: 20px;
}
.inputLabel,
.selectBox,
.textField {
    font-size: 20px;
}