<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SUJE - 주문 내역 조회</title>

<!-- 폰트링크 -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
	rel="stylesheet" />

<!-- css 파일 연결 -->
<link rel="stylesheet" href="./resources/css/resetStyle.css" />
<link rel="stylesheet" href="../../../resources/css/customer/customerOrderList.css" />

<!-- 자바스크립트 연결 -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="../../../resources/css/customer/customerOrderList.js"></script>
</head>
<body>

	<jsp:include page="/WEB-INF/views/headerHtml/memberHeader.jsp"></jsp:include>
	<div class="main">
	
		<!-- 좌측 서브 메뉴 버튼 -->
		<div class="mainContentleft">
			<div>
				<img width=120px height=120px alt="" src="./resources/img/basicProfileIcon.png">
			</div>
			<div>abc123</div>
			<div class="subTitle mypagebtn"><a href="customerMyPage">마이페이지</a></div>
			<div class="subTitle"><a href="">카드 등록/수정</a></div>
			<div class="subTitle"><a href="">계좌 등록/수정</a></div>
			<div class="subTitle"><a href="">주문 내역 조회</a></div>
			<div class="subTitle"><a href="">후기 작성</a></div>
			<div class="subTitle"><a href="">SUJE 톡톡</a></div>
			<div class="subTitle"><a href="">Q&A 작성</a></div>
		</div>
		
		<!-- 화면 메인 Content 부분 -->
		<div class="mainContentright">
			<!-- Content 제목 -->
			<div class="subtitle">주문제작 결제 내역</div>
			<div class="myPageLine"></div>
			
			<div class="mainInputFormTitle">
				<!-- 각 입력부분 제목 -->
				<table class="List">
					<tr class="orderListTitle">
						<td>결제 번호</td>
						<td>최종주문번호</td>
						<td>주문 일자</td>
						<td>결제 일자</td>
						<td>결제 금액</td>
						<td>구매확정</td>
						<td>구매확정일자</td>
						<td>상세주문정보</td>
						<td>결제취소</td>
						<td>반품요청</td>
					</tr>
					<tr >
						<td>123456789</td>
						<td>123456789</td>
						<td>2024/03/01</td>
						<td>2024/03/01</td>
						<td>11,900</td>
						<td>N</td>
						<td>2024/03/01</td>					
						<td><input type="button" value="조회"></td>
						<td><input type="button" value="요청"></td>
						<td><input type="button" value="요청"></td>
					</tr>
					<tr >
						<td>123456789</td>
						<td>123456789</td>
						<td>2024/03/01</td>
						<td>2024/03/01</td>
						<td>11,900</td>
						<td>N</td>
						<td>2024/03/01</td>					
						<td><input type="button" value="조회"></td>
						<td><input type="button" value="요청"></td>
						<td><input type="button" value="요청"></td>
					</tr>
					<tr >
						<td>123456789</td>
						<td>123456789</td>
						<td>2024/03/01</td>
						<td>2024/03/01</td>
						<td>11,900</td>
						<td>N</td>
						<td>2024/03/01</td>					
						<td><input type="button" value="조회"></td>
						<td><input type="button" value="요청"></td>
						<td><input type="button" value="요청"></td>
					</tr>
					<tr >
						<td>123456789</td>
						<td>123456789</td>
						<td>2024/03/01</td>
						<td>2024/03/01</td>
						<td>11,900</td>
						<td>N</td>
						<td>2024/03/01</td>					
						<td><input type="button" value="조회"></td>
						<td><input type="button" value="요청"></td>
						<td><input type="button" value="요청"></td>
					</tr>
					<tr >
						<td>123456789</td>
						<td>123456789</td>
						<td>2024/03/01</td>
						<td>2024/03/01</td>
						<td>11,900</td>
						<td>N</td>
						<td>2024/03/01</td>					
						<td><input type="button" value="조회"></td>
						<td><input type="button" value="요청"></td>
						<td><input type="button" value="요청"></td>
					</tr>
			
				</table>

			</div>
			<div class="myPageLine"></div>
		</div>
		
	</div>
	
</body>
</html>
