
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<!-- Alias 설정 -->
	<typeAliases>
	
		<!-- 유승민 설정 부분 -->
		<typeAlias alias="customerMyPage" type="com.suje.domain.customer.MemberVO"/>
		<typeAlias alias="customerCardInfo" type="com.suje.domain.customer.CardInfoVO"/>
		<typeAlias alias="customerAccountInfo" type="com.suje.domain.customer.AccountVO"/>
		<typeAlias alias="customerOrderList" type="com.suje.domain.customer.OrderListVO"/>
		<typeAlias alias="customerEtcList" type="com.suje.domain.customer.EtcVO"/>
		<typeAlias alias="customerFinalOrder" type="com.suje.domain.customer.FinalOrderVO"/>
		<typeAlias alias="storeOrderList" type="com.suje.domain.storeOrder.StoreOrderListVO"/>
	
		<!-- 장경희 설정 부분 -->
		<typeAlias alias="storeNotiInfo" type="com.suje.domain.storeAdmin.StoreNoticeVO"/>
		<typeAlias alias="storeNotice" type="com.suje.domain.storeAdmin.StoreNoticeVO"/>
		
		<!-- 이수정 설정 부분 -->
		<typeAlias alias="customerAccount" type="com.suje.domain.customer.AccountVO"/>
		<typeAlias alias="updatedCardInfo" type="com.suje.domain.customer.CardInfoVO"/>
		<typeAlias alias="customerReview" type="com.suje.domain.customer.ReviewVO"/>
		<typeAlias alias="customerQnA" type="com.suje.domain.customer.QnAVO"/>
	
		<!-- 김동현 설정 부분 -->
		<typeAlias alias="storeProfile" type="com.suje.domain.storeAdmin.StoreProfileVO"/>
		<typeAlias alias="storeGoodsSU" type="com.suje.domain.storeAdmin.StoreGoodsSUVO"/>
		<typeAlias alias="storeGoodsInfo" type="com.suje.domain.storeAdmin.StoreGoodsSUVO"/>
		
		<!-- 최수빈 설정 부분 -->
		<typeAlias alias="mainLoginVO" type="com.suje.domain.main.MainLoginVO"/>
		<typeAlias alias="AdminManageVO" type="com.suje.domain.adminviews.AdminManageVO"/>
		<typeAlias alias="adminPntVO" type="com.suje.domain.adminviews.AdminPntVO"/>

		<!-- 이정석 설정 부분 -->
		<typeAlias alias="adminVO" type="com.suje.domain.adminviews.AdmininfoVO"/>
    	<typeAlias alias="adminQnAVO" type="com.suje.domain.adminviews.AdminQnAVO"/>
	</typeAliases>
	

</configuration> 

