<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<!-- Alias 설정 -->
	<typeAliases>
	
		<!-- 유승민 설정 부분 -->
		<typeAlias alias="customerMyPage" type="com.suje.domain.customer.MemberVO"/>
		<typeAlias alias="customerCardInfo" type="com.suje.domain.customer.CardInfoVO"/>
		<typeAlias alias="customerAccountInfo" type="com.suje.domain.customer.AccountVO"/>
		<typeAlias alias="customerOrderList" type="com.suje.domain.customer.OrderListVO"/>
	

		<!-- 장경희 설정 부분 -->
		<typeAlias alias="storeNotiInfo" type="com.suje.domain.storeAdmin.StoreNotiInfoVO"/>

		<!-- 이수정 설정 부분 -->
		<typeAlias alias="customerAccount" type="com.suje.domain.customer.AccountVO"/>
		<typeAlias alias="updatedCardInfo" type="com.suje.domain.customer.CardInfoVO"/>
	
		<!-- 김동현 설정 부분 -->
		<typeAlias alias="storeProfile" type="com.suje.domain.storeAdmin.StoreProfileVO"/>
		
		<!-- 최수빈 설정 부분 -->
		<typeAlias alias="mainLoginVO" type="com.suje.domain.main.MainLoginVO"/>

		<!-- 이정석 설정 부분 -->
		<typeAlias alias="adminVO" type="com.suje.domain.adminviews.AdmininfoVO"/>
    
	</typeAliases>
	
</configuration>
