<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- AdmininfoMapper.xml -->
<mapper namespace="Admininfodao">
    <select id="getAdminInfo" parameterType="string"
        resultType="adminVO">
        SELECT * FROM manager WHERE MA_ID = #{MA_ID}
    </select>

    <update id="updateAdmin"
        parameterType="adminVO">
        UPDATE manager SET MA_PASS = #{MA_PASS}, MA_NAME = #{MA_NAME}, MA_EMAIL =
        #{MA_EMAIL}, MA_TEL = #{MA_TEL} WHERE MA_ID = #{MA_ID}
    </update>
    
    <!-- 추가된 부분 -->
    <update id="updateAdminExceptId"
        parameterType="adminVO">
        UPDATE manager SET MA_PASS = #{MA_PASS}, MA_NAME = #{MA_NAME}, MA_EMAIL =
        #{MA_EMAIL}, MA_TEL = #{MA_TEL} WHERE MA_ID = #{MA_ID}
    </update>
</mapper>
