<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customerOrderDAO">

<!-- 전체 페이지 수 계산 -->
<select id="getOrderListCount" parameterType="String" resultType="Integer">

	select 
	count(*) as totalPageCount
	 from orderinfo where m_id = #{id}
	
</select>

<!-- 페이지에 해당 하는 데이터 추출 -->
<select id="getOrderList" parameterType="customerOrderList" resultType="customerOrderList">
 	
<![CDATA[
	select
	o_code,
	o_content,
	m_id,
	to_char(o_date,'yyyy-mm-dd') as o_date,
	s_id 
	from orderinfo
	where o_code in ( select o_code
 		from (select rownum as r_num, o_code from (select rownum,o_code from orderinfo where m_id = #{m_id} order by o_code desc))
 		where r_num >= #{firstNum} and r_num <= #{endNum})
 	order by o_code desc
]]>
 	
</select>

<select id="getEtcList" parameterType="Integer" resultType="customerEtcList">

<![CDATA[
	select  
	et.ETC_CODE, 
	et.ETC_SPNAME, 
	o.O_CODE, 
	et.ETC_TYPE_CODE, 
	et.ETC_PPATH, 
	et.ETC_PNAME, 
	et.ETC_PSIZE, 
	et.ETC_CONTENT, 
	o.s_id,
	o.m_id 
	from orderinfo o, etc et 
	where o.o_code = et.o_code and o.o_code = #{o_code}
]]>

</select>
</mapper>