<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CustomerDAO">

<!-- 고객정보 조회 -->
<select id="getCustomerInfo" parameterType="String" resultType="customerMyPage">
	select * from member where m_id = #{id}
</select>

<!-- 고객정보 업데이트-->
<update id="updateMypageInfo" parameterType="customerMyPage" >
	update member set
	m_pass = #{m_pass},
	m_tel = #{m_tel}, 
	m_email = #{m_email}
	where m_id = #{m_id}
</update>

<!-- 고객리뷰 리스트 조회 -->
<select id="getCustomerReview" parameterType="String" resultType="customerReview">
	select p.p_code, p.p_date, p.p_sum, p.p_ck, re.rv_date from pay_test p, review_test re where p.p_code = re.p_code
</select>

<!-- 고객QnA DB 리스트 조회 -->
<select id="getCustomerQnA" parameterType="String" resultType="customerQnA">
	select m_id, qna_code, qna_title, qna_qdate, qna_adate from qna where m_id = #{m_id} order by qna_code desc
</select>

<!-- 고객QnA 작성하기 insert -->
<insert id="insertQnA" parameterType="String">
	insert into qna(qna_code, qna_title, qna_content, qna_qdate, m_id) values (qna_code_sqn.nextval, #{qna_title}, #{qna_content}, sysdate, #{m_id})
</insert>

<!-- 고객QnA 답변 조회 -->
<select id="getCustomerQnAA" parameterType="Integer" resultType="customerQnA">
	select qna_code, qna_title, qna_adate, qna_reply from qna where qna_code = #{qna_code}
</select>

<!--  고객 QnA 전체 페이지 수 계산 -->
<!-- <select id="getQnAListCount" parameterType="String" resultType="Integer">
	select count(*) as totalPageCount from qna where m_id = #{id}
</select>

페이지에 해당 하는 데이터 추출
<select id="getQnAList" parameterType="customerQnAList" resultType="customerQnAList">
 	
<![CDATA[
	select
	qna_code,
	qna_title,
	to_char(qna_qdate,'yyyy-mm-dd') as qna_qdate,
	to_char(qna_adate,'yyyy-mm-dd') as qna_adate,
	from qna
	where qna_code in ( select qna_code
 	from (select rownum as r_num, qna_code from (select rownum, qna_code from qna where m_id = #{m_id} order by qna_code desc))
 	where r_num >= #{firstNum} and r_num <= #{endNum})
 	order by qna_code desc
]]>
 	
</select>

 -->

<!-- 고객후기(review) 작성하기 insert -->
<insert id="insertReview" parameterType="customerReview">
	insert  into review_test(rv_code, rv_star, rv_content, rv_date, p_code) values (rv_code_sqn.nextval, #{rv_star}, #{rv_content}, sysdate, #{p_code})
</insert>



</mapper>