<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CustomerDAO">

<!-- 고객정보 조회 -->
<select id="getCustomerInfo" parameterType="String" resultType="customerMyPage">

	select * from member where m_id = #{id}

</select>

<update id="updateMypageInfo" parameterType="customerMyPage" >

	update member set
	m_pass = #{m_pass},
	m_tel = #{m_tel},
	m_email = #{m_email}
	where m_id = #{m_id}

</update>

</mapper>