<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FleaOrderCheckDAO">
	<select id="getFleaOrderCheck" parameterType="String" resultType="fleaOrderCheck">
		select f.f_content, fp.fp_code, fp.fp_sum, fp.fp_count, fp.fp_date, fp.fp_ck, fp.fp_ckdate
		from flea f, flea_pay fp
		where f.s_id =#{s_id}
		and f.f_code=fp.f_code
	</select>
</mapper>