<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="FleaGoodsInfoDAO">


<select id="getFcodeSeq" resultType="String">
	select f_code_sqn.nextval from dual
</select>

<mapper namespace= "FleaGoodsInfoDAO">

<insert id="insertFleaGoodsInfo" parameterType="fleaGoodsInfo">



<!-- 플리마켓 상품 정보(flea)  입력 -->
<insert id="insertFleaInfo" parameterType="fleaGoodsInfo">

	INSERT INTO flea(f_code, f_date, f_sum, f_pname, f_spname, f_content, f_num, s_id, cates_code)
	    VALUES (
			#{f_code},
	        sysdate,
	        #{f_sum},
	        #{f_pname},
	        #{f_spname},
	        #{f_content},
	        #{f_num},
	        #{s_id},
	        #{cates_code}
	        )
</insert>

<!-- 플리마켓 서브이미지 정보(flea_sub) 입력 --> 
<insert id="insertFleaSubInfo" parameterType="fleaGoodsInfo">
	INSERT INTO flea_sub(fs_code, f_code, fs_pname, fs_spname) 
	VALUES(
			fs_code_sqn.nextval,
			#{f_code},
			#{fs_pname},
			#{fs_spname}
			)
</insert>


</mapper>