<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace= "StoreGoodsInfoDAO">

<insert id="insertStoreGoodsInfo" parameterType="storeGoodsInfo">

	  INSERT INTO GOODS(G_CODE,s_id,cates_code,g_content,g_date,g_pname,g_ppath)
        VALUES (g_post_sqn.nextval,#{s_id},#{cates_code},#{g_content},sysdate,#{g_pname},#{g_ppath})

</insert>


</mapper>